{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Anastasiia">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
       
        <ul class="sidebar-nav">

            {% block stylesheets %}
            {% endblock %}
       
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1 id="title">She {Codes News}</h1>
                
                </a>
               
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}
            
        </header>

<!--       
         Authentification  -->
         <!-- <ul class="sidebar-nav"> 
           {% if user.is_authenticated %} 
             <li>User: {{ user.username }}</li>
             <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>

             
           {% else %}
             <li><a href="{% url 'login' %}" > Login to write a sory</a></li>
             <!-- <li><a href="/users/login/">Login</a></li>   -->
           <!-- {% endif %}  -->
          <!-- </ul> -->
        {% block content %}{% endblock %} 
    </body>
</html>
