<!-- news/templates/news/story.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}

 <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>Author: {{ story.author }}</h4> 

    <!-- <a href="{% url 'news:story' story.id %}"></a>  Bec-->

    <div id="story-content">
      {% if story.image %}
       <img src="{{story.image}}">
      {% else %}
         <img src="{% static '/news/images/placeholder-4.jpg' %}">
      {% endif %}
     
         {{ story.content|linebreaks }}
    </div>




    <!-- Social share -->
    <br>
    <div>
      <h4>Share this story:</h4>
      <p><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">Facebook</a></p>
      <p> <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check%20out%20this%20awesome%20story" target="_blank">Twitter</a></p>
      <p> <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}" target="_blank"> LinkedIn</a></p>
     </div>

  <br>

  <!-- Comments -->
<div>
     <h4> Comments...</h4>


     {% for comment in story.comments.all %}
     <p>{{ comment.author }}</p>
     <p>{{ comment.date }}</p>
     <p>{{ comment.post }}</p>
     {% endfor %}
     <form method="POST" action="{% url 'news:addComment' pk=story.pk %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
  </form>


   </div>
</div>

{% endblock %} 